@import url("https://fonts.googleapis.com/css?family=Overpass+Mono");

#home-container {
  margin: 15vh auto 0;
  border: 4px solid black;
  border-radius: 15px;
  width: 300px;
  background: antiquewhite;
  padding: 0 10px;
  font-family: "Overpass Mono";
}

.home-heading {
  font-size: 1.05em;
}

.home-paragraph {
  font-size: 0.93em;
}
