html,
body {
  background-color: slategray;
  height: 100%;
  max-width: 100%;
  color: black;
  overflow-x: hidden;
  font-family: "Anonymous Pro", Sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
